extends layout

block feet

block content
    .container
        .row
            .col-lg-8
                h2 快速登入
                a.btn.btn-primary(href='/auth/facebook', style='font-size: 24px;')
                    span.fa.fa-facebook-square &nbsp;Facebook